.planContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 75vh;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background: #f7f7f7;
}
.planContainer::-webkit-scrollbar {
  display: none;
}
.pubListContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 20vh;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-scrollbar {
    width: 0 !important;
  }
}
.column {
  display: inline-block;
  width: 292px;
  min-width: 292px;
  height: 640px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #969696;
}

.columnTitle {
  color: #383838;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 10px;
}

.columnContent {
  height: 600px;
  overflow: auto;
}
.columnContent::-webkit-scrollbar {
  width: 0 !important;
}

.columnContentActive {
  overflow: auto;
  height: 600px;
}

.detail {
  position: relative;
  min-height: 20px;
  padding: 14px;
  background: #ffffff;
  margin: 8px 10px;
}

.detailDragging {
  position: relative;
  min-height: 20px;
  padding: 14px;
  background: #ffffff;
  opacity: 0.6;
  margin: 8px 10px;
}

.panel {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  user-select: none;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel .cardpanel {
  width: 100%;
  height: 300px;
  perspective: 800px;
}

.panel .cardpanel .card {
  box-shadow: 0 0.33rem 0.66rem #333333;
  transform-origin: 50% -20%;
  transition: 0.6s cubic-bezier(0, 0, 0, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.panel .cardpanel .card .glass {
  width: 500px;
  height: 200px;
  left: -50%;
  background: linear-gradient(rgba(0, 0, 0, 0), #fff);
  transform: rotate(32deg) translateY(20%);
  transform-origin: 100% 50%;
  transition: 0.6s cubic-bezier(0, 0, 0, 1);
  opacity: 0.25;
  filter: blur(5px);
  align-self: center;
  z-index: 100;
}

.panel .cardpanel .card {
  width: 100%;
  height: 100%;
}

.panel .cardpanel .card .picture {
  width: 100%;
}
.panel .cardpanel .card .picture img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.panel .cardpanel .card:hover {
  transform: rotateX(10deg);
  box-shadow: 0 0.66rem 1.33rem #333333;
  filter: brightness(1.1);
}

.panel .cardpanel .card:hover .glass {
  transform: rotate(32deg) translateY(70%);
  opacity: 0.4;
}

.panel .cardpanel .card:active {
  transform: rotateX(8deg);
  box-shadow: 0 0.6rem 1.28rem #333333;
  filter: brightness(0.75);
  transition: 0.2s cubic-bezier(0, 0.1, 0, 0.99);
}
.panel .cardpanel .card:active .glass {
  transform: rotate(32deg) translateY(68%);
  opacity: 0.4;
}

.panel .cardpanel .labelpart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateY(-70%);
  transition: 0.3s cubic-bezier(0, 0.1, 0, 0.99);
}

.panel .cardpanel .labelpart p {
  padding: 0.1rem 1rem;
  background: grey;
  font-size: 0.5rem;
  border-radius: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.panel .cardpanel:hover .labelpart {
  transform: translateY(-35%) scale(1.1);
}
